#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;

    &>* {
        pointer-events: initial;
    }

    #adjustLock {
        cursor: pointer;
        position: absolute;
        width: 3em;
        height: 3em;
        white-space: nowrap;
        text-overflow: clip;

        top: 4px;
        left: 4px;

        background-image: url(../assets/locked.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &.unlocked {
            background-image: url(../assets/unlocked.png);
            /* Use filter functionality to turn image black. */
            /* filter is unsupported on many browsers */
            /* the black image version could also be used */
            filter: invert(100%);
        }
    }

    #menuToggle {
        /*position: absolute;
            top: 0;
            left: 45%;
            width: 10%;
            height: 32px;*/
        margin: 0 auto;
        width: 4em;
        height: 2em;
        background-color: red;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        cursor: pointer;
    }
}